.image-slideshow {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 400px;
}

.image-slideshow img {
  width: 100%;
  height: auto;
}

.image-slideshow .next-button, .image-slideshow .prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.image-slideshow .next-button {
  right: 10%;
}

.image-slideshow .prev-button {
  left: 10%;
}

.image-slideshow .pause-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
